@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Funnel Sans';
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #6c9d7a;
}

.container {
    width: 500px;
    margin: 20px;
    background-color: #428f69;
    border-radius: 20px;
    padding: 20px;
}

.storage {
    border: 4px solid #84d2ab;
    height: 50px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
}
.value {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px #428f69 solid; */

}
.value>div{
    box-sizing: border-box;
    width: calc(25% - 10px);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px #84d2ab solid;
    border-radius: 10px;
    margin: 5px;
}